:host {
  display: block;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 14px;
}


img {
  position: relative !important;
  max-width: 100%;
  max-height: 100%;
}

h1, p {
  padding: 0 14px;
}

.video + img, .adv + img, img + .adv, .adv + .video {
  padding-top: 14px;
}
