@if (contentList$| async; as list) {
  @for (item of list; track $index) {
    @switch (item.type) {
      @case ('image') {
        <img [src]="getSrc(item) | sanitize : 'resourceUrl'" alt="">
      }
      @case ('title') {
        <h1>{{ getContent(item) }}</h1>
      }
      @case ('paragraph') {
        <p>{{ getContent(item) }}</p>
      }
      @case ('adv') {
        <div [id]="getId(item)"></div>
      }
      @case ('video') {
        <div [id]="getId(item)"></div>
      }
      @case ('embed') {
        <embed [src]="getUrl(item) | sanitize : 'resourceUrl'">
      }
    }
  }
}
